extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Create a new review
      form.form.form--login
        .form__group
          label.form__label(for='review') Write your review
          input#review.form__input(type='textarea', placeholder='Start here...', required)
        .form__group.ma-bt-md
          label.form__label(for='rating') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Review